body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

h2 {
  text-align: center;
  margin: 20px 0;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px auto;
  padding: 20px;
  max-width: 1200px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.flex-container > div {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  width: 250px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.flex-container > div:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.flex-container img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

table {
  margin: 20px auto;
  width: 90%;
  border-collapse: collapse;
}

table img {
  display: block;
  margin: 0 auto;
  width: 100%;
  border-radius: 10px;
}

table td {
  text-align: center;
  padding: 10px;
}

td {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
